.page--settings-container {
  position: relative;
}

.page--settings-importButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.page--settings-dropZone-container {
  height: auto;
  margin: auto;
  padding: 70px 50px;
  border: 3px solid green;
  text-align: center;
}

.page--settings-dropZone {
  border: dashed;
  color: grey;
  margin: auto;
  height: 200px;
  width: 400px;
  max-width: auto;
  text-align: center;
}

.page--settings-text {
  margin: auto;
  vertical-align: middle;
  height: 50px;
  top: 50%;
}

.page--settings-closeButton {
  right: 5;
  background-color: red;
}

.page--settings-title {
  font-size: 1.5rem;
  flex-grow: 1;
}
